<h1>My groups</h1>

<ul>
  <% @groups.each do |group| %>
    <li>
      <%= link_to "Group: #{group.id}", authorspace_author_group_path(current_author, group) %> - <%= group.authors.map(&:full_name).join(", ") %>
      <%= link_to "🗑", authorspace_author_group_path(current_author, group), data: {turbo_method: :delete} if policy(group).destroy?  %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a group", new_authorspace_author_group_path  %>
