<h1>See all articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %> -
        <% if article.authors.empty? %>
          <small><%= "Deactivated user" %></small>
        <% else %>
          <% article.authors.uniq.each do |author| %>
            <%= link_to author.full_name, author_path(author) %>
          <% end %>
        <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create Article", new_article_path, class:"btn btn-primary" %>
