.article-card {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.article-card:hover {
  background-color: #f4a261;
  border-color: #f4a261;
}

.article-card .card-title {
  color: #fff;
  text-decoration: none;
}

i:hover {
  color: $rust;
}

i.fa-bookmark.fa-solid {
  color: $rust;
}

.card-tags {
  color: lightgray;
}

.article-card .card-text {
  color: #e9c46a;
}
