.btn-primary {
    @include button-variant($btnsalmon, darken($btnsalmon, 7.5%), darken($btnsalmon, 10%), lighten($btnsalmon,5%), lighten($btnsalmon, 10%), darken($btnsalmon,30%));
}

.btn-outline-primary {
    @include button-outline-variant($btnsalmon, #222222, lighten($btnsalmon,5%), $btnsalmon);
}

.btn-emerald {
  background-color: $emerald;
}

.btn-light {
  background-color: $light;
}

.btn-naked {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
